*{
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
   
}
.nav{
   
    


}

 a{

    text-decoration: none;
    padding-left: 10px;
  
    border: 1px solid ;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
    background-color: darkgoldenrod;
    border-radius: 5px;
    padding: 2px 2px;
    
}
a:hover{
    background-color: aqua;
    color: black;
}

.field{
 width: 1400px;
 height: 700px;
 border: 1px solid;
 margin-left: 50px;
 background-color: chartreuse;

}
.goalpost{
    position: relative;
    left: 1000px;
    top: 100px;
}

.player{
    position: relative;
    bottom: 500px;
    right: 400px;
    transform: rotate(-60deg);
    transition: transform 2s ease;
    
}
.ball{
    position: relative;
    left: 250px;
    
    right: 0px;
    bottom: 700px;
}

.field:hover .player{
    
}
   
